@import '../../styles/variables.scss';

header {
  background: var(--bg);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

nav {
  padding: 1.5rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;

  >a:first-child {
    opacity: 1;
  }
}

.logo {
  width: 8rem;
}

.menu {
  display: flex;
  gap: 1rem;
}